<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.futureorigin.architecture.sample.cola.gatewayimpl.database.mapper.UserRoleMapper">

    <select id="find"
            resultType="net.futureorigin.architecture.sample.cola.gatewayimpl.database.dataobject.role.UserRoleDO">
        SELECT *
        FROM sample_user_role
        WHERE user_id = #{userId}
    </select>

</mapper>